swagger: '2.0'
info:
  title: Adani
  description: Remitter Validation with Intermediary Account API (Reversal only).
  termsOfService: 'http://TBD'
  contact:
    name: Adani Hazira Port Pvt Ltd.
    email: TBD@adani.com
    x-mis-contact-email: 
      - Himanshu.Shekhar@adani.com
      - Shreeram.Moorthy@adani.com
    url: 'http://TBD'
  license:
    name: TBD
    url: 'http://TBD'
  version: 1.0.0
host: 'smartpay.adani.com'
basePath: '/api'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /invoicepayment/addPaymentFromBank:
    post:
      tags: 
        - Reversal
      summary: Reverse Payment Transaction.
      description: Reverse  a payment transaction.
      operationId: opReversal
      parameters:
        - description: Reversal Request
          in: body
          name: body
          schema:
            $ref: '#/definitions/reversalRequest'
      responses:
        '200':
          description: Reversal Response.
          schema:
            $ref: '#/definitions/reversalResponse'
definitions:
  reversalRequest:
      properties: 
        src:
          type: string
          description: Bank Name. Always "ICICI BANK LTD"
          minLength: 0
          maxLength: 20
          default: ICICI BANK LTD
        vid:
          type: string
          description: Virtual Account Number.
          minLength: 0
          maxLength: 30
        amount:
          type: string
          description: Transaction Amount
          minLength: 0
          maxLength: 14
          pattern: '[0-9]{1,11}\.[0-9]{2}}'
        paymentType:
          type: string
          description: Payment Mode. "N"  for NEFT,  "R" for RTGS, "I" for Fund Transfer and "O" for IMPS.
          default: N
          enum:
          - N
          - R
          - I
          - O
        txid:
          type: string
          description: Unique Transaction Reference number generated by remitting bank.
          minLength: 0
          maxLength: 30
        currencytype:
          type: string
          description: Currency.
          default: INR
          minLength: 0
          maxLength: 10
        txdatetimestamp:
          type: string
          description: Transaction timestamp.
          minLength: 0
          maxLength: 20
          pattern: '^(3[01]|[12][0-9]|0[1-9])-(1[0-2]|0[1-9])-[0-9]{4}$'
      required:
        - src
        - vid
        - amount
        - txid
        - currencytype
        - txdatetimestamp
  reversalResponse:
    properties:
      status:
        type: string
        description: Decision point for collection.
        enum:
        - Success
        - Failure
      message:
        type: object
        properties:  
          success:
            type: boolean
            description: Status of the request.
          message:
            type: object
            properties: 
              msg:
                type: string
                description: Mandatory if the status is FAIL.
                minLength: 0
                maxLength: 50
    type: object
    required: 
    - status
 