swagger: '2.0'
info:
  title: Nayara
  description: Remitter Verification API for ICICI.
  termsOfService: 'http://TBD'
  contact:
    name: Nayara Energies Ltd.
    email: TBD@nayaraenergy.com
    x-mis-contact-email: 
      - Manoj.Sharma1@nayaraenergy.com
      - Bhavesh.Adwani@nayaraenergy.com
      - Sandip.Bhavsar@nayaraenergy.com
    url: 'http://TBD'
  license:
    name: TBD
    url: 'http://TBD'
  version: 1.0.0
host: 'iciciloa.nayaraenergy.com'
basePath: '/'
schemes:
  - https
consumes:
  - application/xml
produces:
  - application/xml
paths:
  /verify:
    post:
      tags: 
        - Verification
      summary: Verify a Payment Transaction.
      description: Verify a payment transaction.
      operationId: opVerify
      parameters:
        - description: Verification Request
          in: body
          name: body
          schema:
            $ref: '#/definitions/Bank'
      responses:
        '200':
          description: Verification response.
          schema:
            $ref: '#/definitions/Bank'
definitions:
  Bank:
    properties:
      Clientcode:
        type: string
        description: Client Code.
        minLength: 4
        maxLength: 4
      VAN:
        type: string
        description: Unique Actual Virtual Account No. of the client.
        minLength: 0
        maxLength: 30
      TransactionAmount:
        type: string
        description: Transaction Amount
        minLength: 0
        maxLength: 14
        pattern: '[0-9]{1,11}\.[0-9]{2}}'
      Mode:
        type: string
        description: Payment Mode. "N"  for NEFT,  "R" for RTGS, "I" for Fund Transfer and "O" for IMPS.
        default: N
        enum:
        - N
        - R
        - I
        - O
      UTRnumber:
        type: string
        description: Unique Transaction Reference number generated by remitting bank.
        minLength: 0
        maxLength: 30
      RemitterName:
        type: string
        description: Receivers Name received in the incoming message.
        minLength: 0
        maxLength: 150
      RemitterAccountNumber:
        type: string
        description: Account Number of the remitter received from the remitting bank.
        minLength: 0
        maxLength: 25
      RemitterIFSC_Code:
        type: string
        description: IFSC code received from the remitting bank.
        minLength: 0
        maxLength: 15
      Date:
        type: string
        pattern: '^(3[01]|[12][0-9]|0[1-9])/(1[0-2]|0[1-9])/[0-9]{4}$'
        description: Date when the amount was received. Format DD/MM/YYYY 
        minLength: 10
        maxLength: 10
      Sendertoreceiverinformation:
        type: string
        description: Optional information received from remitting bank.
        minLength: 0
        maxLength: 150
      Checksum:
        type: string
        description: Checksum for the message payload.
        minLength: 0
        maxLength: 32
      Status:
        type: string
        description: Decision point for collection.
        enum:
        - ACCEPT
        - REJECT
      RejectReason:
        type: string
        description: Rejection reason. Mandatory if the Status received is "REJECT".  
        minLength: 0
        maxLength: 35
    required:
      - Clientcode
      - VAN
      - TransactionAmount
      - Mode
      - UTRnumber
      - RemitterName
      - RemitterAccountNumber
      - RemitterIFSC_Code
      - Date
      - Checksum